@model ScholarHat.Models.PostViewModel
@{
    ViewData["Title"] = "Blog Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Blog post No  @Model.Id </h1>
<div>
    <div><b>@Model.Title </b></div>
    <div> User : @Model.UserId</div>
    <br />
    <div>@Model.Body</div>
    <hr />


</div>
<hr />
@await Component.InvokeAsync("Comments",new {id = Model.Id});